body {
  background-color: #090a0b;

}

div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, body, textarea {
  margin: 0;
  padding: 0;
}

.J-bgcover {

}

.head-video {
  /* width: 1920px; */
  display: inline;
}